<h1>Listing channels</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Title</th>
      <th>Status</th>
      <th>Source uri</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.uuid %></td>
        <td><%= channel.title %></td>
        <td><%= channel.status %></td>
        <td><%= channel.source_uri %></td>
        <td><%= link_to 'Show', channel %></td>
        <td><%= link_to 'Edit', edit_channel_path(channel) %></td>
        <td><%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Channel', new_channel_path %>
